div.card-header.text-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a{
    text-decoration: none;
}


.icon-matkul{
    display: flex;
    justify-content: flex-end;
}

div.tugas-item{
    border-radius: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}