{% extends 'story3/base.html' %}

{% block content %}

<section id="register">    
    <h1 class="big-text text-center">Register</h1>
    <div class="container" style="max-width:60%">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
            
                    <div class="form-group">
                        <label for="id_nama">Username:</label>
                        {{Form.nama}}
                    </div>
            
                    <div class="form-group">
                        <label for="id_password">Password:</label>
                        {{Form.password}}
                    </div>
                    {% if isError %}
                        <p style="color:red">{{Error}}</p>
                    {% endif %}
                    <button type="submit" class="btn btn-success btn-block">Register</button>
                    <p>Sudah punya akun? <a href="{% url 'auth:login' %}#login">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}