{% extends 'story3/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'story7/css/style.css' %}">
<section class="tentang-saya">
    <div class="container">
        <h1 class="big-text text-center">Tentang Saya</h1>

        <div id="accordion">
            <div class="accordion-item">
                <div class="accordion-header">
                    <h3 class="accordion-title">Aktivitas</h3>
                    <div class="float-right">    
                        <svg class="button-up" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                        <svg class="button-down" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                        </svg>
                    </div>
                </div>
                <div class="accordion-content hide">
                    <p>1. Kuliah</p>
                    <p>2. Tidur</p>
                    <p>3. Ngoding</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <h3 class="accordion-title">Organisasi</h3>
                    <div class="float-right">    
                        <svg class="button-up" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                        <svg class="button-down" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                        </svg>
                    </div>
                </div>
                <div class="accordion-content hide">
                    <p>1. KMF FUKI Fasilkom UI</p>
                    <p>2. Competitive Programming SIG Ristek Fasilkom UI</p>
                    <p>3. Paguyuban Adiguna UI</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <h3 class="accordion-title">Prestasi</h3>
                    <div class="float-right">    
                        <svg class="button-up" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                        <svg class="button-down" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                        </svg>
                    </div>
                </div>
                <div class="accordion-content hide">
                    <p>Juara 1 Badut</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <h3 class="accordion-title">Hobi</h3>
                    <div class="float-right">    
                        <svg class="button-up" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                        <svg class="button-down" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                        </svg>
                    </div>
                </div>
                <div class="accordion-content hide">
                    <p>1. Overthinking</p>
                    <p>2. Insecure</p>
                </div>
            </div>
        </div>            

    </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript" src="{% static 'story7/js/script.js' %}"></script>
{% endblock content %}