{% load static %}

*{
	margin: 0;
	padding: 0;
}

.col-md-6, .col-md-6, .col, .col-md-3{
	padding: 0;
}

.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}


.images{
	height: 100vh;
	background-image: url("/static/story1/images/long.jpg");
	background-size: cover;
	background-position: left;
	padding: 0 !important;
	color: white;
	display: flex;
	align-items: center;
	justify-items: center;
}

.text{
	text-align: center;
	margin: auto;
}

.text h1{
	font-size: 5em;
	font-family: 'Nunito', sans-serif;
}

.text p{
	font-size: 1.2em;
}

.atas{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #1bcb85;
}

.container{
	width: 90% !important;
}

td{
	padding: 5px;
}

.about{
	background-color: azure;
}

.bio {
	height: 250px;
	background-color: azure;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.bio-contain{
	margin: auto;
}

.skill{
	height: 250px;
	background-color: #9ddbd2;
}

.kotak{
	height: 250px;
	width: 100%;
	background-image: url("/static/story1/images/Profil.jpg");
	background-size: cover;
	background-position: center;
}

.center{
	padding-top: 10px;
	text-align: center;
}

.progress-bar, .progress{
	height: 1px !important;
}

.hob{
	background-color: #f0d2a2;
}

.hobi{
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.hobi1{
	background-color: #9ddbd2;
}

.hobi2{
	background-color: #1bcb85;
}

.hobi3{
	background-color: #252525;
}

.hobi4{
	background-color: azure;
}

svg.hobii{
	display: block;
	padding-top: 10px;
}

.hobitext{
	text-align: center;
}

.school{
	height: 450px;
	width: 100%;
	background-color: #1bcb85;
}

.school-img{
	background-image: url("/static/story1/images/edu.jpg");
	background-size: cover;
}

.school-list{
	padding-top: 50px;
}

.logo{
	width: 50px;
	height: 50px;
}

p, h5{
	margin-bottom: 0px;
	font-family: 'Open Sans', sans-serif;
}

h3{
	padding-top: 10px;
	font-family: 'Nunito', sans-serif;
	font-size: 2.5em;
}

footer{
	padding-top: 50px;
	background-color: #252525;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sosmed{
	display: flex;
	width: 250px;
	padding-bottom: 20px;
	flex-direction: row;
	padding-top: 10px;;
	justify-content: space-between;
}

svg:hover path{
	fill: #4267B2;
}

@media only screen and (max-width: 860px){
	.kotak{
		height: 300px;
	}

	.skill{
		height: 300px;
	}
}

@media only screen and (max-width: 767px){
	.images{
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/static/story1/images/long.jpg");
		background-size: cover;
		background-position: left;
	}
}

@media only screen and (min-width: 768px){
	.text {
		display: none;
	}
}