{% extends 'story3/base.html' %}

{% block content %}
<style>
    div.card{
        margin-bottom: 10px;
    }
    
    ul{
        list-style-type: none;
    }

    .no-padding{
        padding: 0 !important;
    }

    .d-flex{
        padding: 0;
    }
</style>

<section id="index">
    <div class="container">
        <h1 class="big-text text-center">Aktivitas</h1>
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="medium-text text-center">Tambah Aktivitas</h3>
                        <form action="{% url 'story6:tambah' %}" method="POST" id="form-tambah">
                            {% csrf_token %}
                            <div class="form-group">
                                {{AktivitasForm.nama}}
                            </div>
                            <button type="submit" id="tambah" class="btn btn-success btn-block">Tambah</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            {% for aktivitas in activities %}
                <div class="col-12 col-sm-4 col-md-4 d-flex align-item-stretch justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <form action="{% url 'story6:hapus' aktivitas.0.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                      </svg>
                                </button>
                            </form>
                            <h3 class="medium-text text-center">{{aktivitas.0.nama}}</h3>
                            <h6 class="card-subtitle mb-2 text-muted">Peserta</h6>
                            <ul>
                                {% for peserta in aktivitas.1 %}
                                    <li>
                                        <div style="display: flex;">
                                            {{peserta.nama}} &nbsp;
                                            <form action="{% url 'story6:peserta_hapus' peserta.id %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn no-padding">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                      </svg>
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <form action="{% url 'story6:peserta_tambah' %}" method="POST">
                                {% csrf_token %}
                                <input type="select" hidden name="aktivitas" value="{{aktivitas.0.id}}">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="form-group">
                                            {{Form.nama}}
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" class="btn btn-success">Tambah</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}