{% extends 'story3/base.html' %}

{% block content %}
<section class="index">
    <div class="container">
        <h1 class="big-text text-center">Tambah</h1>
    </div>
</section>
{% endblock content %}