<!DOCTYPE html>
<html>
<head>
    <title>Hi, I am Alif!</title>

    <!-- Styles -->
    {% include 'story3/snippets/styles.html' %}
</head>
<body>

    {% include 'story3/snippets/navbar.html' %}

    {% include 'story3/snippets/jumbotron.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'story3/snippets/footer.html' %}

    <!-- Scripts -->
    {% include 'story3/snippets/scripts.html' %}

    {% block additionalScripts %}
    {% endblock additionalScripts %}
</body>
</html>