{% extends 'story3/base.html' %}
{% block content %}
{% load static %}
<!-- Gallery Part -->
<section id="gallery">
    <h1 class="big-text text-center">Gallery</h1>
    <div class="container gallery-flex">
        <img src="{% static 'story3/images/a.jpg' %}" class="img-long">
        <img src="{% static 'story3/images/b.jpg' %}" class="img-short">
        <img src="{% static 'story3/images/c.jpg' %}" class="img-short">
        <img src="{% static 'story3/images/d.jpg' %}" class="img-long">
        <img src="{% static 'story3/images/e.jpg' %}" class="img-long">
        <img src="{% static 'story3/images/f.jpg' %}" class="img-short">
    </div>
</section>
<!-- End of Gallery Part -->
{% endblock content %}