{% extends 'story3/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'story5/css/style.css' %}">

<section id="delete">
	<div class="container">
        <h1 class="big-text text-center">Hapus {{matkul.nama}}</h1>
        <div class="card">
            <div class="card-header text-center">
                <h3 class="medium-text text-center">Yakin menghapus {{matkul.nama}}?</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">Deskripsi</h5>
                <p>{{matkul.deskripsi}}</p>
                <br>
                <h5 class="card-title">Dosen Pengampu</h5>
                <p>{{matkul.dosen}}</p>
                <br>
                <h5 class="card-title">Bobot</h5>
                <p>{{matkul.sks}} SKS</p>
                <br>
                <h5 class="card-title">Semester</h5>
                <p>{{matkul.semester}} {{matkul.tahun}}</p>
                <br>
                <h5 class="card-title">Ruang Kelas</h5>
                <p>{{matkul.ruang}}</p>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-danger btn-block">Hapus</button>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'story5:index' %}#jadwal" class="btn btn-warning btn-block">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}