{% extends 'story3/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'story5/css/style.css' %}">

<section id="detail">
	<div class="container">
		<h1 class="big-text text-center">{{matkul.nama}}</h1>
		<div class="card">
          <div class="card-body">
              <div class="icon-matkul">
                <a href="{% url 'story5:edit' matkul.id %}#edit" data-toggle="tooltip" data-placement="top" title="Edit">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </a>
                <a href="{% url 'story5:hapus' matkul.id %}#delete" data-toggle="tooltip" data-placement="top" title="Hapus">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                  </svg>
                </a>
              </div>
              <h5 class="card-title">Deskripsi</h5>
              <p>{{matkul.deskripsi}}</p>
              <br>
              <h5 class="card-title">Dosen Pengampu</h5>
              <p>{{matkul.dosen}}</p>
              <br>
              <h5 class="card-title">Bobot</h5>
              <p>{{matkul.sks}} SKS</p>
              <br>
              <h5 class="card-title">Semester</h5>
              <p>{{matkul.semester}} {{matkul.tahun}}</p>
              <br>
              <h5 class="card-title">Ruang Kelas</h5>
              <p>{{matkul.ruang}}</p>
              <br>
              <a href="{% url 'story5:index' %}#jadwal" class="btn btn-primary">Kembali ke Jadwal</a>
          </div>
      </div>
  </div>
  
  <div class="container">
    <h1 class="big-text text-center">Tugas</h1>
    <div id="tugas" class="tugas" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div class="card" style="width: 50%">
        <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_nama">Masukkan Nama Tugas:</label>
                {{Form.nama}}
              </div>
              <div class="form-group">
                <label>Masukkan Deadline Tugas:</label>
                {{Form.due}}
              </div>
              <input type="select" name="matkul" value="{{matkul.id}}" hidden>
              <button type="submit" class="btn btn-success btn-block">Tambahkan Tugas</button>
            </form>
        </div>
      </div>
    </div>
    <div class="row">
      {% for t in Tugas %}
        <div class="col-6 col-sm-4 col-md-4">
          <div class="card" style="margin-top: 20px">
            <div class="card-header">
              <h3 class="medium-text center">{{t.nama|truncatechars:10}}</h3>
            </div>
            <div class="card-body">
              <p>Deadline: {{t.due}}</p>
              <form action="{% url 'story5:delete_tugas' t.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-block">Sudah Selesai</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
</script>

{% endblock content %}