{% extends 'story3/base.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'story5/css/style.css' %}">

<section id="jadwal">
	<h1 class="big-text text-center">Jadwal</h1>
	{% if user.is_authenticated %}
		<h3 class="big-text text-center">
			Selamat datang, {{user.username}}
		</h3>
	{% endif %}
	<div class="container">
		{% if user.is_authenticated %}
			<a style="margin-bottom: 10px;" href="{% url 'story5:tambah' %}#tambah" class="btn btn-success rounded">+</a>
			<a style="margin-bottom: 10px;" href="{% url 'userauth:logout' %}" class="btn btn-danger float-right">Logout</a>
		{% else %}
			<a style="margin-bottom: 10px;" href="{% url 'userauth:login' %}" class="btn btn-success">Login</a>
		{% endif %}
		{% for matkul in allMatakuliah %}
			<div class="card" style="width: 100%; margin-bottom: 10px">
			  <div class="card-header">
				<div>
					<h3 style="display: inline;">
						{{matkul.nama}}
					</h3>
					{% if matkul.tugas_tersisa > 0 %}
						<h6 style="display: inline;"><span class="badge badge-danger">{{matkul.tugas_tersisa}}</span></h6>
					{% endif %}
				</div>
				{% if user.is_authenticated %}
					<div style='max-width: 50px; display: flex; justify-content: space-between;'>
						<a href="{% url 'story5:edit' matkul.id %}#edit" data-toggle="tooltip" data-placement="top" title="Edit">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
								<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
							</svg>
						</a>
						<a href="{% url 'story5:hapus' matkul.id %}#delete" data-toggle="tooltip" data-placement="top" title="Hapus">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
							</svg>
						</a>
					</div>
				{% endif %}
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item">
					<p>
						{% if matkul.deskripsi|length > 100 %}
							{{matkul.deskripsi|truncatechars:150}} <a href="{% url 'story5:detail' matkul.id %}#detail">baca selengkapnya</a>
						{% else %}
							{{matkul.deskripsi}}
						{% endif %}	
					</p>
			    	<p>Dosen: {{matkul.dosen}}</p>
					<p>Ruang Kelas: {{matkul.ruang}}</p>
					<a href="{% url 'story5:detail' matkul.id %}#detail" class="btn btn-primary">Detail</a>
				</li>
			  </ul>
			</div>
		{% endfor %}
		{% if allTugas|length > 0 %}
			<div class="big-screen-only">
				<h1 class="big-text text-center">Tugas Tersisa</h1>
				<div>
					<div class="row">
						{% for tanggal in allTanggal %}
							<div class="col-1">
								{{tanggal}}
							</div>
						{% endfor %}
					</div>
					<div class="row">
						{% for hari in allHari %}
							<div class="col-1">
								{{hari}}
							</div>
						{% endfor %}
					</div>
				</div>
					{% for tugas in allTugas %}
						<div class="row" style="margin-bottom: 10px;">
							<div class="col-{{tugas.0}} tugas-item" style="text-align: center; background: {{tugas.1}};">
								{% if tugas.0 == 1 %}
									{{tugas.2|truncatechars:7}}
								{% else %}
									{{tugas.2|truncatechars:15}}
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
</script>
	

{% endblock content %}