{% extends 'story3/base.html' %}

{% block content %}

<section id="tambah">
	<div class="container">
		<h1 class="big-text text-center">Tambah Mata Kuliah</h1>
		<form method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for="id_nama">Nama Mata Kuliah:</label>
				{{Form.nama}}
			</div>
			<div class="form-group">
				<label for="id_dosen">Nama Dosen Pengampu:</label>
				{{Form.dosen}}
			</div>
			<div class="form-group">
				<label for="id_sks">Jumlah SKS:</label>
				{{Form.sks}}
			</div>
			<div class="form-group">
				<label for="id_deskripsi">Deskripsi Mata Kuliah:</label>
				{{Form.deskripsi}}
			</div>
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label for="id_semester">Semester:</label>
						{{Form.semester}}
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label for="id_semester">Periode:</label>
						{{Form.tahun}}
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="id_ruang">Ruang Kuliah:</label>
				{{Form.ruang}}
			</div>
			<button type="submit" class="btn btn-success">Tambah Mata Kuliah</button>
			<a href="{% url 'story5:index' %}#jadwal" class="btn btn-danger">Cancel</a>
		</form>
	</div>
</section>


{% endblock content %}