html, body{
	height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

.footer{
	height: 20px;
	width: 100%;
	background-color: #222;
	display: flex;
	align-items: center;
	justify-content: center;
	display: table-row;
    height: 0;
}

.footer p{
	text-align: center;
	color: white;
	margin: 0;
	padding: 0;
}

p{
	text-align: justify;
	text-justify: inter-word;
}

p.lead{
	text-align: center !important;
}