{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Hello, I am Alif!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	{% include 'story1/snippets/styles.html' %}
</head>
<body>
	<div class="row">
		<div class="col-md-6 col-sm-12 col-12">
			<div class="images">
				<div class="text">
					<p><i>Hey, I'm</i></p>
					<div class="big">
						<h1><strong>Alif Saddid</strong></h1>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-12">
			<div class="atas">
				<div class="container">
					<h3>Hello! I am Alif, a second year CS student in University of Indonesia</h3>
					<p style="text-align: justify;">My name is Muhammad Alif Saddid. I was born in Boyolali, 25 March 2001. I am now pursuing bachelor degree of Computer Science in Faculty of Computer Science, University of Indonesia. I created this site to
					fulfill my Web Design and Programming courses. Want to know more about me? Scroll down!
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12 col-12 about">
			<div class="bio">
				<h3>About me?</h3>
				<div class="container bio-contain">
					<table>
						<tr>
							<td><p>Name</p></td>
							<td><p>: Muhammad Alif Saddid</p></td>
						</tr>
						<tr>
							<td><p>NPM</p></td>
							<td><p>: 1906398250</p></td>
						</tr>
						<tr>
							<td><p>Major</p></td>
							<td><p>: Computer Science</p></td>
						</tr>
						<tr>
							<td><p>Class of 2019 🐯</p></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-12">
			<div class="skill">
				<div class="row">
					<div class="col skill">
						<div class="kotak">
						</div>
					</div>
					<div class="col skill">
						<div class="container">
							<h3 class="center">My Skills</h3>
							<p style="padding-bottom: 5px;">Sleeping</p>
							<div class="progress" style="height: 1px;">
								<div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="progress" style="height: 20px;">
								<div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<br>
							<p style="padding-bottom: 5px;">Coding</p>
							<div class="progress" style="height: 1px;">
								<div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="progress" style="height: 20px;">
								<div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<br>	
							<p style="padding-bottom: 5px;">Overthinking</p>
							<div class="progress" style="height: 1px;">
								<div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="progress" style="height: 20px;">
								<div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col hob">
			<h3 class="center">Hobbies</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-6 col-6">
			<div class="hobi hobi1">
				<svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-display-fill hobii" fill="white" xmlns="http://www.w3.org/2000/svg">
					<path d="M6 12c0 .667-.083 1.167-.25 1.5H5a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-.75c-.167-.333-.25-.833-.25-1.5h4c2 0 2-2 2-2V4c0-2-2-2-2-2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h4z"/>
				</svg>
				<div class="hobitext">
					<h4>Ngoding ngoding ga jelas</h4>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-6">
			<div class="hobi hobi2">
				<svg version="1.1" id="mountain-15" xmlns="http://www.w3.org/2000/svg" fill="white" width="4em" height="4em" viewBox="0 0 15 15">
					<path id="path5571" d="M7.5,2C7.2,2,7.1,2.2,6.9,2.4&#xA;&#x9;l-5.8,9.5C1,12,1,12.2,1,12.3C1,12.8,1.4,13,1.7,13h11.6c0.4,0,0.7-0.2,0.7-0.7c0-0.2,0-0.2-0.1-0.4L8.2,2.4C8,2.2,7.8,2,7.5,2z&#xA;&#x9; M7.5,3.5L10.8,9H10L8.5,7.5L7.5,9l-1-1.5L5,9H4.1L7.5,3.5z"/>
				</svg>
				<div class="hobitext">
					<h4>Jalan jalan ngebolang</h4>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-6">
			<div class="hobi hobi3">
				<svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-star-fill hobii" fill="white" xmlns="http://www.w3.org/2000/svg">
					<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
				</svg>
				<div class="hobitext text-white">
					<h4>Ngefoto langit gelap gelapan</h4>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-6">
			<div class="hobi hobi4">
				<svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-question hobii" fill="black" xmlns="http://www.w3.org/2000/svg">
					<path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
				</svg>
				<div class="hobitext">
					<h4>Gatau ini placeholder biar pas 4</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12 col-12">
			<div class="school school-img">
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-12">
			<div class="school">
					<h3 class="center">Education</h3>
					<div class="school-list container">
						<div class="row">
							<div class="col-2">
								<img src="{% static 'story1/images/logo_ui.png' %}" class="logo" alt="">
							</div>
							<div class="col-10">
								<h5><b>Universitas Indonesia</b></h5>
								<p>Bachelor of Computer Science</p>
								<p>2019 - now</p>
							</div>
						</div>

						<br>
					
						<div class="row">
							<div class="col-2">
								<img src="{% static 'story1/images/logo_smansa.png' %}" class="logo" alt="">
							</div>
							<div class="col-10">
								<h5><b>SMA Negeri 1 Boyolali</b></h5>
								<p>Mathematics and Natural Science Program</p>
								<p>2015 - 2018</p>
							</div>
						</div>
						
						<br>

						<div class="row">
							<div class="col-2">
								<img src="{% static 'story1/images/logo_negsa.png' %}" class="logo" alt="">
							</div>
							<div class="col-10">
								<h5><b>SMP Negeri 1 Boyolali</b></h5>
								<p>Acceleration Program</p>
								<p>2013 - 2015</p>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

	<footer>
		<p>Find me at</p>
		<div class="sosmed">
			<a href="https://web.facebook.com/muhammadalifsaddid.prasojo" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#1bcb85" d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/></svg>
			</a>
			<a href="https://www.instagram.com/alifsaddid" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#1bcb85" d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>
			</a>
			<a href="https://www.linkedin.com/in/alifsaddid/" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#1bcb85" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
			</a>
			<a href="https://gitlab.com/AlifSaddid" target="_blank">
				<svg aria-hidden="true" data-prefix="fab" width="24" height="24" data-icon="gitlab" class="svg-inline--fa fa-gitlab fa-w-16 fa-lg " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path fill="#1bcb85" d="M29.782 199.732L256 493.714 8.074 309.699c-6.856-5.142-9.712-13.996-7.141-21.993l28.849-87.974zm75.405-174.806c-3.142-8.854-15.709-8.854-18.851 0L29.782 199.732h131.961L105.187 24.926zm56.556 174.806L256 493.714l94.257-293.982H161.743zm349.324 87.974l-28.849-87.974L256 493.714l247.926-184.015c6.855-5.142 9.711-13.996 7.141-21.993zm-85.404-262.78c-3.142-8.854-15.709-8.854-18.851 0l-56.555 174.806h131.961L425.663 24.926z"></path>
				</svg>
			</a>
			
		</div>
	</footer>
</body>
</html>