<!-- Jumbotron Part -->
<section id = "jumbotron">
    <div class="jumbo">
        <div class="jumbotron-text">
            <p class="text-white"><i>Hey, I'm</i></p>
            <div class="buffer">
                <h1 class="text-white">ALIF SADDID</h1>
            </div>
        </div>
    </div>
</section>
<!-- End of Jumbotron Part -->