<!-- Navbar Part -->
<nav class="navbar navbar-expand-md text-white navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story3:index' %}#profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story3:index' %}#experiences">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story3:index' %}#abilities">Abilities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story3:index' %}#projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story3:index' %}#hobbies">Hobbies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://drive.google.com/file/d/1GGCUQbQLGUdgvWRsJdiR_BFX-sYDeZAb/view?usp=sharing" target="_blank">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://alifsaddid.herokuapp.com/blog/" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'story3:gallery' %}">Gallery</a>
            </li>
        </ul>
    </div>
</nav>
<!-- End of Navbar part -->