{% load static %}
<script type="text/javascript" src="{% static 'vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/popper/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'story3/js/script-navbar.js' %}"></script>