{% extends 'story3/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'story8/css/style.css' %}">
<section class="books">
    <div class="container">
        <h1 class="big-text text-center">Books</h1>
        <form onsubmit="event.preventDefault();" role="search">
            <input id="search" type="search" placeholder="Search..." autofocus required />
            <button type="submit">Go</button>    
        </form>
        <div id="books-data">
            <p id="query-result">Menampilkan hasil pencarian</p>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="{% static 'story8/js/scripts.js' %}"></script>
{% endblock content %}