*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

/*
    Navbar Style
*/

nav.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

nav.blur-background{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: rgba(46, 50, 70, 0.2) 0px 1px 10px;
}

ul.navbar-nav li.nav-item a.nav-link{
    color: rgba(255, 255, 255, 1);
}

ul.navbar-nav li.nav-item a.green{
    color: rgba(34, 163, 159, 1);
}

nav.hide{
    transition: all 0.25s ease-in-out 0s;
    transform: translateY(-100%);
    opacity: 0;
}

nav.muncul{
    transition: all 0.25s ease-in-out 0s;
    transform: translateY(0);
    opacity: 1;
}

/*
    End of Navbar Style
*/






/*
    Jumbotron Style
*/
section#jumbotron{
    padding: 0 !important;
}

.jumbo{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('/static/story3/images/hero.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-text{
    text-align: center;
    position: relative;
}

.jumbotron-text p{
    font-family: 'Roboto', sans-serif;
}

.jumbotron-text h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
}

.buffer{
    position: relative;
}

.buffer h1::before{
    content: " ";
    position: absolute;
    top: 50%;
    left: -100px;
    height: 3px;
    width: 80px;
    background: white;
    display: inline-block;
}

.buffer h1::after{
    content: " ";
    position: absolute;
    top: 50%;
    right: -100px;
    height: 3px;
    width: 80px;
    background: white;
    display: inline-block;
}

/*
    End of Jumbotron Style
*/






/*
    Profile Style
*/

#about-me{
    text-align: left;
}

#details{
    text-align: left;
}

#details p{
    margin: 0;
}

/*
    End of Profile Style
*/






/*
    Project Syle
*/

.project{
    width: 80%;
    height: 250px;
    margin-bottom: 10px;
}

#project-story{
    background-image: url('/static/story3/images/ss_story1.png');
    background-size: cover;
}

#project-blog{
    background-image: url('/static/story3/images/ss_blog.png');
    background-size: cover;
}

.layer{
    opacity: 0;
    color: white;
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
    transition: .5s;
    cursor: pointer;
}

.project:hover .layer{
    opacity: 1;
    transition: .5s;
}

/*
    End of Project Style
*/




/*
    Hobbies Style
*/

.hobby-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hobby{
    min-width: 300px;
    max-width: 80%;
    height: 175px;
    margin: 5px;
}

#hobby-cp{
    background: url('/static/story3/images/Ngodink.jpg');
    background-position: center;
    background-size: cover;
}

#hobby-hiking{
    background: url('/static/story3/images/hiking.jpg');
    background-position: center;
    background-size: cover;
}

#hobby-astro{
    background: url('/static/story3/images/milkyway.jpg');
    background-position: center;
    background-size: cover;
}

.hobby:hover .layer{
    opacity: 1;
    transition: .5s;
}

/*
    End of Hobbies Styles
*/




/*
    Footer Styles
*/

section#footer{
    color: white;
}

.sosmed{
    width: 250px;
    display: flex;
    justify-content: space-between;
}

svg:hover path{
    fill: #0056b3;
}

/*
    End of Footer Styles
*/




/*
    Gallery Styles
*/
.gallery-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.gallery-flex img{
    margin: 2px;
}
/*
    End of Gallery Styles
*/






/*
   General Styles
*/

div.project a{
    text-decoration: none;
}

.center-element-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.flex-center{
    display: flex;
    justify-content: center;
}

section{
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
}

.big-text{
    color: #22A39F;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}

.medium-text{
    color: #22A39F;
    font-family: 'Nunito', sans-serif;
}

.bg-oren{
    background-color: #F3EFE0;
}

.bg-footer{
    background-color: #252525;
}

.no-margin{
    margin: 0px;
}

.text-bold{
    font-weight: bold;
}

img.logo{
    width: 50px;
    height: 50px;
}

svg.star-green{
    fill: #22A39F;
}

svg.star-white path{
    fill: #FFF;
}

.hide-up{
    transition: all 0.5s ease-in-out 0s;
    transform: translateY(-50%);
    opacity: 0;
}

.muncul-down{
    transition: all 0.5s ease-in-out 0s;
    transform: translateY(0);
    opacity: 1;
}

.img-long{
    width: 40%;
}

.img-short{
    width: 30%;
}

/*
    End of General Style
*/



/*
    Responsive Breakpoints
*/

@media (max-width: 768px){
    .buffer h1::before, .buffer h1::after{
        display: none;
    }

    .big-screen-only{
        display: none;
    }

    .layer{
        opacity: 1;
    }

    p.hov{
        display: none;
    }

    .medium-text{
        margin-top: 5px;
        text-align: center;
    }

    .project{
        width: 80vw;
        height: 50vw;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px){
    .small-screen-only{
        display: none;
    }

    div#navbarNav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul.navbar-nav{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
    }
}